<h1 id="hello">Hello!</h1>
<form method="GET" action="/logout" controller="Registration" id="logout_butt">
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </button>
</form>

@foreach(var product in @ViewBag.LastProducts){
TimeSpan span=DateTime.Now-@product.created_at;

}









<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                      
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/dashboard">Dashboard</a></li>
        <li><a href="/ProductsPage">Products</a></li>
        <li><a href="/OrdersPage">Orders</a></li>
        <li><a href="/CustomersPage">Customers</a></li>
        <li><a href="#">Settings</a></li>
      </ul>

    </div>
  </div>
</nav>
  
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      
      <form class="navbar-form navbar-right" role="search">
            <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>        
            </div>
      </form>
     


    </div>
    @*Image gallery*@
        <div class="col-sm-7">
            @foreach(var product in @ViewBag.LastProducts){
                  <div class="col-sm-3">
                  <div class="well">
                  <p>@product.ProductName</p>
                  <img src="@product.ProductUrl" class="img-square"  width="100"  alt="Avatar">
                  <p>@product.ProductDescription</p>
                  <h6>@product.ProductQuantity left</h6>
                  </div>
                  </div>
            }
            <p><a href="#">Show More...</a></p>
        </div>
        <div class="InfoBox">
        <h2>Most Recent Orders</h2>
        @foreach(var o in @ViewBag.LastOrders){
                <p>@o.Customer.CustomerName purchased @o.Quantity @o.Product.ProductName...( @o.created_at.ToString("MMMM d, yyyy")) </p>
            }
             <p><a href="#">Show More...</a></p>
        </div>
        <div class="InfoBox">
      <h2>New Customers</h2>
        @foreach(var customer in @ViewBag.LastCustomers){
                <p>@customer.CustomerName joined the store (@customer.created_at)</p>
            }
             <p><a href="#">Show More...</a></p>
        </div>
  </div>
</div>

